<div class="logo"><a href="#"><img src="/dist/images/Logo.png" alt="logo"></a></div>

<div class="header-menu">

    <div class="header-menu_key-menu">

        <a href="#"><span class="main-key">Store</span></a>

        <a href="#"><span class="main-key">Rent</span></a>

        <a href="#"><span class="main-key">About</span></a>

        <a href="#"><span class="main-key">Blog</span></a>

        <a href="#"><span class="main-key">Contact</span></a>

    </div>

    <form class="search" action="#" method="GET" name="search" id="search">

            <input type="text" placeholder="Search..." name="search-inpt" class="search_inpt" id="search-inpt" />

            <i class="fas fa-search search_butt"></i>

    </form>

</div>