<header>
    
    <div class="logo"><a href="a"><img src="/dist/images/Logo.png" alt="logo"></a></div>

    <div class="header-menu">

        <div class="key-menu">

            <a href=""><span class="main-key">Store</span></a>

            <a href=""><span class="main-key">Rent</span></a>

            <a href=""><span class="main-key">About</span></a>

            <a href=""><span class="main-key">Blog</span></a>

            <a href=""><span class="main-key">Contact</span></a>

        </div>

        <div class="search">

                <input type="text" placeholder="Search..." class="search_inpt">

                <i class="fas fa-search search_butt"></i>

        </div>

    </div>

</header>

<div class="main-info">

    <div class="slider">

        <div class="slider_container">

            <div class="slide active slide1">
                
                <span class="slide1_majestic">MAJESTIC</span>
                
                <span class="slide1_weekend">WEEKEND</span>
            
                <span class="slide1_offer">Only these weekend discounts are</br>30% for all types of animals</span>
            
                <button class="slide1_exp-now">EXPLORE NOW</button>
                
                <img src="/dist/images/reptile-slide1.png" alt="reptile" class="slide1_reptile-pic">
                
            </div>

            <div class="slide">123123123123</div>

            <div class="slide">1231231231231</div>

        </div>

        <ul class="slide-dots">
            <li class="slide-dot active" data-slide="0"></li>
            <li class="slide-dot" data-slide="1"></li>
            <li class="slide-dot" data-slide="2"></li>
        </ul>

    </div>

</div>