<div class="slider">

    <div class="slider_item1">

        <div class="slider_item1_majestic">MAJESTIC</div>
        <div class="slider_item1_weekend">WEEKEND</div>
        <div class="slider_item1_offer">Only these weekend discounts are </br> 30% for all types of animals</div>
        <button class="slider_item1_expl-now">EXPLORE NOW</button>
        <img src="/src/assets/images/reptile-slide1.png" alt="Reptile" class="slider_item1_reptile-pic" />

    </div>


    <div class="slider_item">

        <div class="slider_item1_majestic">MAJESTIC</div>
        <div class="slider_item1_weekend">WEEKEND</div>
        <div class="slider_item1_offer">Only these weekend discounts are </br> 30% for all types of animals</div>
        <button class="slider_item1_expl-now">EXPLORE NOW</button>
        <img src="/src/assets/images/reptile-slide1.png" alt="Reptile" class="slider_item1_reptile-pic" />

    </div>

    <div class="slider_item">

        <div class="slider_item1_majestic">MAJESTIC</div>
        <div class="slider_item1_weekend">WEEKEND</div>
        <div class="slider_item1_offer">Only these weekend discounts are </br> 30% for all types of animals</div>
        <button class="slider_item1_expl-now">EXPLORE NOW</button>
        <img src="/src/assets/images/reptile-slide1.png" alt="Reptile" class="slider_item1_reptile-pic" />
        
    </div>

</div>