<div class="store-info">

    <div class="directory">
        <span>Home/Page</span>
    </div>

    <div class="category-box">

        <span class="">Category</span>

        <div class="category-box_view">
            <i class="fas fa-th-large category-box_grid-icon1"></i>
            <img src="/dist/images/grid-icon.png" alt="grid-icon" class="category-box_grid-icon2" />
        </div>
        
        <div class="category-box_filter">

            <div class=""><span class="action">Filter by:</span></div>

            <div class=""><span class="action_value">None</span><img src="/dist/images/arrow-icon.png" alt="arrow-icon" /></div>

        </div>

        <div class="category-box_sort">

            <div class=""><span class="action">Sort by:</span></div>

            <div class=""><span class="action_value">Newest to oldest</span><img src="/dist/images/arrow-icon.png" alt="arrow-icon" /></div>

        </div>

    </div>

    
</div>