.main-info {
    display: flex;
    position: relative;
    letter-spacing: 0.05em;
    width: 100%;
    min-height: calc(100vh - 80px);
    left: 0px;

    background: linear-gradient(119.69deg, rgba(204, 204, 204, 0.37) 0%, rgba(102, 102, 102, 0.23) 100%);
}

.slider {
    display: flex;
    max-width: 100%;
    min-width: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: 20px;
}

.slick-list, .slick-track {
    display: flex !important;   
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slick-slide {
    outline: none;
}

.slider .slick-dots button {
    font-size: 0;
    width: 48px;
    height: 4px;
    background-color: white;
    margin: 0px 5px;
    border-radius: 2px;
    outline: none;
    border: none;
}

.slider .slick-dots li.slick-active button {
    background-color: rgba(71, 108, 0, 0.76);
}