.main-info {
    display: flex;
    position: relative;
    letter-spacing: 0.05em;
    width: 100%;
    min-height: calc(100vh - 80px);
    left: 0px;

    background: linear-gradient(119.69deg, rgba(204, 204, 204, 0.37) 0%, rgba(102, 102, 102, 0.23) 100%);
}